<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <File name="FileLogger" fileName="src/main/resources/Manufacturer-Logger.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c:%L - %msg%n</pattern>
            </PatternLayout>
        </File>

    </Appenders>
    <Loggers>
        <Logger name="jdbc.hw" level="info" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
